body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(60, 146, 103);
  background-image: url('background.jpeg');
  border: 1px solid #999;
  float: left;
  font-size: 72px;
  font-weight: bold;
  line-height: 102px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 102px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgba(212, 120, 120, 0.959);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}